[Unit]
Description=gnote Service

[Service]
Type=forking
User=%i
Environment=VAR=/var/%i
PIDFile=/var/%i/gnote.pid
#ExecStart=/usr/bin/gnote watch --daemon --pidfile ${VAR}/gnote.pid --log ${VAR}/gnote.log -V
ExecStart=/home/guten/bin/gnote watch --daemon --pidfile ${VAR}/gnote.pid --log ${VAR}/gnote.log -V

[Install]
WantedBy=multi-user.target
